.book-details-container {
    display: flex;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .book-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .book-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .book-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .back-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
    